
<!DOCTYPE html>
<html>
  <head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Where's Wally</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="/bundle.js"></script>
  <link rel='stylesheet' type='text/css' href='../styles/styles.css'></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- //// -->
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<!-- //// -->

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div data-role="page" id="page-one">
    <div data-role="main" class="ui-content">
      <form id="shifts-form">
    	   Date:
    	   <input type="date" id="date"><br>
    	   <p>Shift :</p>
         <div id='shift-week'class="shift-week">
           <span class="shift" id="z1" value='23.15 - 06.45'>Z1</span>
           <span class='shift' id="z2" value='06.30 - 13.30'>Z2</span>
           <span class='shift' id="z3" value='06.45 - 11.15'>Z3</span>
           <span class='shift' id="z4" value='07.35 - 15.00'>Z4</span>
           <span class='shift' id="z5" value='11.15 - 18.45'>Z5</span>
           <span class='shift' id="z6" value='13.15 - 20.00'>Z6</span>
           <span class='shift' id="z7" value='13.45 - 21.15'>Z7</span>
           <span class='shift' id="z8" value='16.15 - 23.30'>Z8</span>
           <span class='shift' id="off" value='08.30 - 17.30'>OFF</span>
         </div>
<br>
<br>
         <div id='shift-weekend' class="shift-weekend">

           <span class='shift' id="al">AL</span>
           <span class='shift' id="admin" value='09.00 - 16.30'>Admin</span>
           <span class='shift' id="osa" value='09.00 - 16.30'>OSA</span>
           <span class='shift' id="dil" value='08.30 - 17.00'>DIL</span>
           <span class='shift' id="lbl" value='08.30 - 17.30'>LBL</span>
           <span class='shift' id="ors" value='10.00 - 17.30'>ORS</span>
         </div>
<br>
        <a href="#page-two" id="go-to-two" data-transition="slide">Slide to Show</a><br>
        <a href="#page-one" id="go-to-one" data-transition="reverse">Slide to Enter</a><br>
    </div>
  </div>


  <div data-role="page" id="page-one">
    <div data-role="main" class="ui-content">
      <form id="shifts-form">
    	   Date:
    	   <input type="date" id="date"><br>
    	   <p>Shift :</p>
         <div id='shift-week'class="shift-week">
           <span class="shift" id="z1" value='23.15 - 06.45'>Z1</span>
           <span class='shift' id="z2" value='06.30 - 13.30'>Z2</span>
           <span class='shift' id="z3" value='06.45 - 11.15'>Z3</span>
           <span class='shift' id="z4" value='07.35 - 15.00'>Z4</span>
           <span class='shift' id="z5" value='11.15 - 18.45'>Z5</span>
           <span class='shift' id="z6" value='13.15 - 20.00'>Z6</span>
           <span class='shift' id="z7" value='13.45 - 21.15'>Z7</span>
           <span class='shift' id="z8" value='16.15 - 23.30'>Z8</span>
           <span class='shift' id="off" value='08.30 - 17.30'>OFF</span>
         </div>
</form>

  <div data-role="page" id="page-two">
    <div data-role="main" class="ui-content">
      <>
    </div>
  </div>
</body>
