.shift{
padding: 10px;
border: #062322 1px solid;
border-radius: 5px;
background-color: #D2EFEE;
margin:10px;
}

.shift:hover {
  background-color: #20B2AA
}

.table-date{
    margin: auto;
    width: 24%;
    padding: 10px;
    font-weight: bold;
}

.show-shifts{
    border: 1px solid;
    background: #D2EFEE;
}
