.shift{
padding: 10px;
border: #062322 1px solid;
border-radius: 5px;
background-color: #D2EFEE;
margin:10px;
}

.shift:hover {
  background-color: #20B2AA
}

.table-date{
    /*margin: 0px 64px 0px 64px;*/
    padding: 10px;
    font-weight: bold;
}

.shiftsWrapper{
      border-bottom: 1px solid black;
      height: 80px;
      margin-bottom: 10px;
}

.rightWrapper {
    float: right;
     width: 69%;
     background: #EBEBEB;


}
.leftTop {
  width: 88%;
  padding-left: 30px;
  padding-top: 19px;
}

.leftBottom {
  width: 88%;
  padding-left: 30px;
  height: 40px;
}

.leftAside {
  background-color: #D3D3D3;
  width: 30%;
  height: 79px;
  float: left;
  border: 1px solid #111;
  text-align: center;
}

.shiftReturn {
  font-size: 24px;
  padding-top: 22px;
}

.shift-result{
  margin:15px;
}

.day-off{
  background:#9eaec6;
}
