.shift{
padding: 10px;
border: #062322 1px solid;
border-radius: 5px;
background-color: #D2EFEE;
margin:10px;
}

.shift:hover {
  background-color: #20B2AA
}

.table-date{
    /*margin: 0px 64px 0px 64px;*/
    padding: 10px;
    font-weight: bold;
}

.shiftsWrapper{
    border-top: 1px solid;
    height: 55px;

}

.rightWrapper {
    float:right;
    width: 69%

}
.leftTop {
    background-color: lightblue;
    width: 88%;
    padding-left:30px;
    height: 27px;
    border-bottom: 1px solid white
}

.leftBottom {
    background-color: lightblue;
    width: 88%;
    padding-left:30px;
    height: 27px;
}

.leftAside {
    background-color: lightblue;
    width: 30%;
    height: 55px;
    float:left;
    border-right:1px solid white;
        text-align: center;
}

.shiftReturn {
      font-size: 30px;
      padding-top: 8px;
}
